<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 px-4">
  <div class="text-center">
    <h1 class="font-bold text-4xl mb-6">404</h1>
    <img src="<%= asset_path('huh.gif') %>" alt="Funny 404 GIF" class="w-64 h-auto mb-6 mx-auto rounded-lg">
    <p class="text-sm text-gray-600 mb-8">
      Oops! The page you were looking for doesn't exist or has been moved.
    </p>
    <a href="/" class="btn-primary">
      Go Back Home
    </a>
  </div>
</div>
